/* Секция "Что тебя ждёт на сервере" */
.features {
  padding: clamp(40px, 8vh, 120px) clamp(20px, 5vw, 120px) 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.features__container {
  width: min(100%, 1680px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  margin: 0 0 clamp(40px, 6vh, 80px) 0;
  line-height: 1.2;
  font-size: clamp(20px, 9.0px + 2.0vw, 52px);
  color: rgba(229, 190, 127, 1);
  text-align: center;
  max-width: 90%;
}

/* Сетка: 2 колонки на средних и больших, 1 — на мобильных */
.features__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(24px, 4vh, 48px);
  width: 100%;
}

@media (max-width: 1024px) {
  .features__grid {
    grid-template-columns: 1fr;
  }
}

.features__card {
  position: relative;
  /* ← обязательно! */
  overflow: hidden;
  /* Высота теперь по содержимому — за счёт position: absolute + bottom: 0 */
  border-radius: 2px;
}

.features__image {
  position: relative;
  display: block;
  width: 100%;
}

.features__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180.00deg, rgba(27, 26, 31, 0) 50%, rgba(27, 26, 31, 1) 100%);
  pointer-events: none;
  /* чтобы не мешать кликам */
}

.features__img {
  width: 830px;
  height: 535px;
  display: block;
  object-fit: cover;
}

/* Контент — поверх изображения, прижат к низу */
.features__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5vh 1vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: white;
  box-sizing: border-box;
  z-index: 2;
  background: linear-gradient(90.00deg, rgba(15.513128280639648, 15.100545883178711, 17.163461685180664, 0), rgba(15.513128280639648, 15.100545883178711, 17.163461685180664, 1) 48%, rgba(16, 15, 17, 0) 100%);
}

/* Полоски сверху и снизу */
.features__content::before,
.features__content::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg,
      rgba(208, 190, 162, 0) 0%,
      rgba(208, 190, 162, 1) 48%,
      rgba(208, 190, 162, 0) 100%);
}

.features__content::before {
  top: 0;
}

.features__content::after {
  bottom: 0;
}

.features__card-title {
  font-size: clamp(18px, 5.6px + 1.375vw, 32px);
  color: rgba(229, 190, 127, 1);
  line-height: 1.2;
  position: relative;
  z-index: 3;
  font-family: "Gabriela", serif;
}

.features__card-description {
  font-size: clamp(16px, 3.2px + 1.0vw, 24px);
  color: rgba(157, 144, 124, 1);
  margin: 0;
  line-height: 1.4;
  position: relative;
  z-index: 3;
  font-family: "Inter", sans-serif;
}

@media (max-width: 480px) {
  .features__img {
    width: auto;
    height: auto;
  }
}
@media (max-width: 320px){
  .features__content{
    padding: 1vh 1vh;
  }
}