@font-face {
    font-family: 'Reaver-Bold';
    src: url('../css/Reaver-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* чтобы текст не был невидим при загрузке */
}
@font-face {
    font-family: 'Reaver-SemiBold';
    src: url('../css/Reaver-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* чтобы текст не был невидим при загрузке */
}
@font-face {
    font-family: 'Radiance';
    src: url('../css/radiance.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* чтобы текст не был невидим при загрузке */
}
.gabriela-regular {
  font-family: "Reaver-Bold";
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}
.inter {
  font-family: "Reaver-SemiBold";
  font-weight: 100;
  font-style: normal;
  letter-spacing: 2px;
}
