.underdog-regular {
  font-family: "Underdog", system-ui;
  font-weight: 700;
  font-style: normal;
}
.gabriela-regular {
  font-family: "Gabriela", serif;
  font-weight: 500;
  font-style: normal;
}
