* {
    box-sizing: border-box;
    font-size: clamp(20px, 1.5vw, 26px);
    color: rgba(208, 190, 162, 1);
}

ul {
    list-style: none;
}

html,
body {
    background-color: #000;
    overflow-x: hidden;
    width: 100%;
}
.conteiner {
    max-width: 1680px;
    margin: 0 auto;
}